{% extends 'layouts/blankLayout.twig' %}

{% block javascripts %}
  <script async defer type="module" src="signup.js"></script>
{% endblock %}

{% block content %}

<section class="content-wrapper signup-form">
  <div class="content-body">
    <form class="row match-height mx-auto">
      <div class="col-xl-6 col-md-9 col-sm-12 mx-auto">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <h4 class="card-title">Signup Form</h4>
              <h6 class="card-subtitle text-muted danger error-message"></h6>
            </div>
            <div class="card-body">
              <form class="form">
                <div class="form-body">

                  <div class="form-group">
                    <label for="email" class="sr-only">E-mail</label>
                    <input type="email" id="js-email" class="form-control" placeholder="E-mail" name="email">
                  </div>

                  <div class="form-group">
                    <label for="phoneNumber" class="sr-only">Phone Number</label>
                    <input type="tel" id="js-phoneNumber" class="form-control" placeholder="+000 0 000 000"
                      name="phoneNumber">
                  </div>

                  <div class="form-group">
                    <label for="password" class="sr-only">Last Name</label>
                    <input type="text" id="js-password" class="form-control" placeholder="******" name="password">
                  </div>

                  {#                  <div class="form-group">#}
                  {#                    <label for="donationinput4" class="sr-only">Contact Number</label>#}
                  {#                    <input type="text" id="donationinput4" class="form-control" placeholder="Phone" name="phone">#}
                  {#                  </div>#}
                  {#                  <div class="form-group">#}
                  {#                    <label for="donationinput7" class="sr-only">Message</label>#}
                  {#                    <textarea id="donationinput7" rows="5" class="form-control square" name="message" placeholder="message"></textarea>#}
                  {#                  </div>#}

                </div>
                <div class="form-actions center">
                  <button id="js-signup-btn" type="submit" class="btn btn-outline-primary">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

{% endblock %}

